<html>
    <head>
        <title>Contact List</title>
    </head>
    <body>
        <% contacts.forEach(contact => { %>
          - <%=  contact.cognome %> <%=  contact.nome %><br/>
        <% }); %>

    </body>
</html>