<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <span><%= message %></span>

        <% if (user) { %>
            <h2>Ciao <%= user.name %></h2>
        <% } %>
    </body>
</html>