<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BEIJAIR</title>
</head>
<body>
    <h1>BEIJEAIR</h1>
    <form th:action="@{/submitSearchFlight}" method="post">
	    <label>Data di partenza:</label>
	    <input type="datetime-local" name="dataPartenza" />
	    
	    <label>Città di partenza:</label>
	    <input type="text" name="cittaPartenza" />
	    
	    <label>Città di arrivo:</label>
	    <input type="text" name="cittaArrivo" />
	    
	    <label>Andata e ritorno:</label>
	    <input type="checkbox" name="andataRitorno" />
	    
	    <button type="submit">Invia</button>
	</form>
</body>
</html>