<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BEIJAIR</title>
</head>
<body>
    <h1>BEIJEAIR</h1>
	
	<form th:object="${SearchDTO}" th:action="@{/ricercaVoli}" method="post">
		
	    <label>Città di partenza:</label>
	    <input type="text" th:field="*{CittaPartenza}" required />
	    
	    <label>Città di arrivo:</label>
	    <input type="text" th:field="*{CittaArrivo}" required />
	    
	    <button type="submit">Cerca voli</button>
	</form>
	
</body>
</html>