<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Risultati ricerca</title>
</head>
<body>
    <h1>Risultati ricerca</h1>
    
    <ul>
    <li th:each="rotte : ${flightResults}">
        <h3>Rotta:</h3>
        <ul>
            <li th:each="voli : ${rotte.voli}">
                <h4>Volo:</h4>
                <p>ID: <span th:text="${voli.id}"></span></p>
                <p>Città di partenza: <span th:text="${voli.cittaPartenza.nome}"></span></p>
                <p>Città di arrivo: <span th:text="${voli.cittaArrivo.nome}"></span></p>
                <p>Data di partenza: <span th:text="${voli.dataPartenza}"></span></p>
            </li>
        </ul>
    </li>
</ul>
    
    
</body>
</html>