<footer class="d-flex justify-content-center align-items-center" style="background-color: #292b2f; color: white; height: 300px;">

    <p class=""><small>Created By Francesco & Federico</small></p>

</footer>