<!-- users.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h1>List of Products</h1>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <p><%= product.name %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>