<%- include('components/header', { title: product.name }) %>

<body>
    <div class="container py-5">
        <div class="row row-cols-2">
            <div class="col">
                <img src="<%= product.image_preview %>" alt="img" class="w-100">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1><%= product.name %></h1>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</body>

</html>

<style>
    .card {
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
    }
    a{
        color: black;
        text-decoration: none;
    }
</style>